In [ ]:
#list methods
'''
append, insert, extend, sort , reverse, count, index, remove, pop, clear, copy
'''

In [2]:
#what is a list and it's operation 
# group of elements as one entity, where duplicates are allowed
# duplicates are allowed
# heterogenous elements are allowed
# insertion order is preserved
# 


# create
l1 = []
l2 = [10,20,20.5, True, "a"]

In [3]:
l3 = list(10)

print(l3)

TypeError: 'int' object is not iterable

In [4]:
l4 = list([10,20,230])
print(l4)

[10, 20, 230]

In [5]:
l5 = list(10,29)

TypeError: list expected at most 1 argument, got 2

In [8]:
# so list() methods expects any type of sequence like list, tuple, set, string or range 
# as depicted in l4

In [37]:
ll = list([10,24,52])
lt = list((10,24,55))
ls = list({17,42,53})
lst = list("Rahul")
lr = list(range(10))
print(ll,lt,ls,lst,lr)

[10, 24, 52] [10, 24, 55] [17, 42, 53] ['R', 'a', 'h', 'u', 'l'] [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
list1 = eval(input("Enter list elements: "))
print(list1)
print(type(l1))

Enter list elements: 1,2,3
(1, 2, 3)
<class 'list'>

In [35]:
l6 = "RahulGandhi".split()
l7 = "Rahul Gandhi".split()
print(l6)
print(l7)

['RahulGandhi']
['Rahul', 'Gandhi']

In [3]:
#read list objects

# reading using indexing 

enames = ["Rahul", "Sonia", "Priyanka"]
print(enames)
print(enames[2])
print(enames[3])

['Rahul', 'Sonia', 'Priyanka']
Priyanka

IndexError: list index out of range

In [4]:
#iterating over a list 

for ename in enames:
    print(ename)

Rahul
Sonia
Priyanka

In [5]:
i=0
while i <= len(enames)-1:
    print(enames[i])
    i = i+1

Rahul
Sonia
Priyanka

In [6]:
#updating a list 

ids = [101,102,103]
print(ids)
ids.append(104)

print(ids)

enames.append("Modi")
print(enames)

[101, 102, 103]
[101, 102, 103, 104]
['Rahul', 'Sonia', 'Priyanka', 'Modi']

In [9]:
# ['Rahul', 'Sonia', 'Priyanka', 'Modi']
#    0         1          2         3

enames.insert("Rajiv",1)

TypeError: 'str' object cannot be interpreted as an integer

In [11]:
enames.insert(1,"Rajiv")
print(enames)

['Rahul', 'Rajiv', 'Rajiv', 'Sonia', 'Priyanka', 'Modi']

In [15]:
ids.insert(1,105)
print(ids)

[101, 105, 105, 102, 103, 104, 106, 107, 106, 107]

In [14]:
#what is extend method

ids1 = [106,107]
ids.extend(ids1)
print(ids)

[101, 105, 102, 103, 104, 106, 107, 106, 107]